.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    font-size: 3rem;
  }

  .skills-icons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .icon-holder {
      border: 2px solid gray;
      border-radius: 10%;
      padding: 1rem;
      font-size: 7rem;
      margin: 1.5rem;
      transition: 0.4s;
      &:hover {
        font-size: 7.5rem;
        opacity: 0.8;
      }
    }
  }
}
