.skills {
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-size: 3rem;
  }

  .skills-icons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 70%;

    .icon-holder {
      border: 2px solid #007f5f;
      border-radius: 10%;
      padding: 1rem;
      font-size: 10rem;
      margin: 1.5rem;
      transition: 0.4s;
      color: #007f5f;
      &:hover {
        font-size: 10.5rem;
        opacity: 0.8;
      }
    }
  }
}
